@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,300&family=Raleway:wght@300;400;500;600;700;900&family=Ruda:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  
  html{
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
  }
  body{
    height: min-content;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
  }
  
  *,
  *::before,
  *::after{
      box-sizing: inherit;
  }

  
   :root{
    --font-number: 'Montserrat', sans-serif;
    --font-logo: 'Ruda', sans-serif;
    

    --color-black: #000;
    --color-white: #fff;
    --color-grey1: #c1c1c1;
    --color-grey2: #333333;
    --color-green2:#2E8473;
    --color-green1: #20a58a;
    --color-blue: #dbf3fa;
    --color-blue3: #00B1E4;
    --color-blue2:#078cb1;
    --color-red2: #ff8383;
    --color-red1: #e63f3f;
    

    --box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.44);
  }

  a{
    text-decoration: none;
  }

/* button Styling */
  .button{
    cursor: pointer;
    border: none;
    background-color: none;
    outline: none;
    font-family: inherit;
    transition: all .2s ease;
    color: var(--color-white);
  }

  .btnSmall{
    width: min-content;
    padding: 0rem .5rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

  .btnGreen{
    background-color: var(--color-green2);
  }
  .btnGreen:hover{
    background-color: var(--color-green1);
  }

  .btnRed{
    background-color: var(--color-red1);
  }
  .btnRed:hover{
    background-color: var(--color-red2);
  }

  .btnBlue{
    background-color: var(--color-blue2);
  }

  .btnBlue:hover{
    background-color: var(--color-blue3);
  }

  .table{
    display: flex;
    flex-direction: column;
  }

  .table div{
    display: flex;
    align-items: center;
  }

  .root{
    height: 100%;
}

.gridContainer{
    margin: 0!important;
    width: 100%!important;
}

 .appContainer{
  background-color: var(--color-blue);
  width: 100vw;
} 

.formContainer{
  margin-left: 50%;
  width: 50%;
  padding: 3rem;
  transform: translateX(-50%);
  background-color: var(--color-white);
  height: min-content;
  box-shadow: var(--box-shadow);
  border-radius: 20px;

}
.formContainer h1{
  text-align: center;
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}
