.InputContainer{
    width: 95%;
    height: min-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.inputBox{
    display: flex;
    align-items: center;
    flex: 20%;
    padding: 1rem;
}

.inputBox > select, .inputBox > input{
    margin-left: .5rem;
    border: none;
    border-bottom: 1px solid var(--color-grey1);
    width: 15rem;
}

.inputBox > input:focus, .inputBox > select:focus {
    outline: none;
}