.inputContainer{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 3.5rem;
}

.input{
    margin-top: 1rem;
    padding: .5rem 0;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-grey2);
}

.input:focus-visible,
.input:active{
    border-bottom: 2px solid var(--color-grey1);
    outline: none;
}

.label{
    font-family:  var(--font-numericTxt);
    font-size: 1.4rem;
}

::placeholder{
    color: #757575;
    font-family: var(--font-numericTxt);
}

.photoContainer{
    align-self: center;
    width: 30%;
}
.photoForm{
    background-position: center;
    background-size: cover;
    background-color: var(--color-grey1);
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}


.invalid > input{
    border-bottom: 2px solid red!important;
}

.invalid  > p{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: .2rem;
}

.errorMessage{
    font-size: 1.2rem;
    margin-top: .4rem;
    font-family: var(--font-para);
}

@media only screen and (max-width: 600px){
    .photoContainer{
        width: 50%;
    }
}